# Assignment Theory Questions
1. What are data structures, and why are they important?
- Data structures are ways to store and organize data in a computer.They are important for storing, searching and using data faster and easier.

2. Difference between mutable and immutable data types with examples?

- Mutable =  can be changed after creation. Eg: List= [1, 2, 3] (you can add or remove items).

- Immutable = cannot be changed after creation. Eg: Tuple= (1, 2, 3) (fixed, no changes allowed).

3. Main differences between lists and tuples in Python?

- Lists: use [], mutable, slower, flexible.

- Tuples: use (), immutable, faster, safe (no changes).

4. How dictionaries store data?
- Dictionaries store data as key-value pairs. Example: {"name": "Harsh", "age": 20}.You search using the key (like “name”), not by position.

5. Why use a set instead of a list in Python?
- Because sets automatically remove duplicates and are faster when checking if something exists.

6. What is a string in Python, and how is it different from a list?
- A string is text inside quotes → "Hello".
A list can hold many items → [1, "Hi", 3.5].
Strings are only characters, lists can have many types.

7. How do tuples ensure data integrity in Python?
- Since tuples cannot be changed, they keep the data safe from duplicated edits.

9. Can lists contain different data types in Python?
- Yes! A list can have numbers, text, and even other lists all together. Example: [1, "Hi", 3.5].

10. Why are strings immutable in Python?
- Because strings are stored in memory in a way that makes them fast and safe.
If they could change, programs would be confusing.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better when we want to look up data by a name/key instead of by position.

12. How do sets handle duplicate values in Python?
- Sets simply remove them. Example: {1, 2, 2, 3} → {1, 2, 3}.

13. A scenario where using a tuple is better than a list?
- When we want fixed data that should never change. Example: storing the coordinates of a location. such as-(27.1, 78.0).

14. How does the “in” keyword work differently for lists and dictionaries?

- In a list: we checks if an item is there. Example: 5 in [1,2,3,5]=True.

- In a dictionary: checks if a key is there. Example: "name" in  {"name":"Harsh"}=True.

15. Can you modify the elements of a tuple? Explain why or why not.
- No. Tuples are immutable, so once created, their values cannot change.

17. Time complexity of accessing elements in a dictionary?
- It's O(1) (very fast)

18. In what situations are lists preferred over dictionaries?
- When order matters or when you only need simple collections of items. Example: a list of numbers [1,2,3].

19. Why are dictionaries considered unordered, and how does that affect retrieval?
- Priory dictionaries didn't keep order of items.
But now, we don't depend on position — we use keys to get values.

20. Difference between a list and a dictionary in terms of data retrieval?

- List → get data by position (index). Example: mylist[0].

- Dictionary → get data by name/key. Example: mydict["name"].

# Assignment Practical Question

In [23]:
#1. Write a code to create a string with your name and print it
name = "Harsh"
print(name)

Harsh

In [24]:
#2. Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [25]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
word = "Python Programming"
print(word[:3])

Pyt

In [26]:
#4. Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [27]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [28]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [29]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [30]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [31]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])   # index starts from 0, so 1 = second element

b

In [32]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [3]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [4]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [6]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [7]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [8]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [9]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [10]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [11]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [12]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [13]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [14]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [15]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [16]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [17]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [18]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [19]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print
import random

nums = [random.randint(1, 100) for i in range(5)]
nums.sort()
print(nums)

[5, 37, 46, 49, 82]

In [20]:
#28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[3])  # index 3 means 4th element

date

In [21]:
#29. Write a code to combine two dictionaries into one and print the result.
a = {"x": 1, "y": 2}
b = {"z": 3}
a.update(b)
print(a)

{'x': 1, 'y': 2, 'z': 3}

In [22]:
#30. Write a code to convert a list of strings into a set
words = ["apple", "banana", "apple", "kiwi"]
s = set(words)
print(s)

{'apple', 'banana', 'kiwi'}